<h1>Login</h1>

<%= form_for @user, url: login_path do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email, :class => "new-user", :placeholder =>  "Enter email" %>
        <%# (@user.errors.full_messages_for(:email).first || %>
    </div><br>
    <div>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "new-user", :placeholder => "Enter password" %>
    </div>

    <%= f.submit "Login" %>

<% end %>