<h1>Orders</h1>
<ul>
    <% @orders.each do |order| %>
        <div>
            <%= link_to "Go to order", orders_as_admin_path(order) %>
            <p><%= order.user_id %></p>
            <p><%= order.protein %></p>
            <p><%= order.vegetable %></p>
            <p><%= order.fruit %></p>
            <p><%= order.grain %></p>
            <p><%= order.dairy %></p>
            <p><%= order.dessert %></p>
        </div>
    <% end %>
</ul>

