<%= form_for([current_user, order]) do |f| %>
    <div>
        <%# <%= f.label food_bank_id %>
        <%= f.collection_select(:food_bank_id, FoodBank.all, :id, :location) %> 
    </div><br>
    <div>
        <%= f.label :protein %>
        <%= f.text_field :protein %>
    </div><br>
    <div>
        <%= f.label :vegetable %>
        <%= f.text_field :vegetable %>
    </div><br>
    <div>
        <%= f.label :fruit %>
        <%= f.text_field :fruit %>
    </div><br>
    <div>
        <%= f.label :grain %>
        <%= f.text_field :grain %>
    </div><br>
    <div>
        <%= f.label :dairy %>
        <%= f.text_field :dairy %>
    </div><br>
    <div>
        <%= f.label :dessert %>
        <%= f.text_field :dessert %>
    </div><br>

    <%= f.submit button_name %>
    
<% end %>
