<h1>Orders</h1>

<%= @orders.each do |order| %>
    <div>
        <p><%= order.protein %></p>
        <p><%= order.vegetable %></p>
        <p><%= order.fruit %></p>
        <p><%= order.grain %></p>
        <p><%= order.dairy %></p>
        <p><%= order.dessert %></p>
    </div>


<% end %>

