<h1>Your order</h1>

<p>Proten: <%= @order.protein %></p>
<p>Vegetable:<%= @order.vegetable %></p>
<p>Fruit:<%= @order.fruit %></p>
<p>Grain:<%= @order.grain %></p>
<p>Dairy:<%= @order.dairy %></p>
<p>Dessert:<%= @order.dessert %></p>

<%= link_to "Edit Order", edit_order_path(@order) %> | <%= link_to "Delete Order", order_path(@order), method: "delete" %>