<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioProjectRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <%= render "layouts/nav" %> 
    <nav>
      <ul>
        <%# <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Orders", orders_path %></li>
        <li><%= link_to "Create Order", new_order_path %></li>

      </ul>
    </nav>
    
    <%= yield %>
  </body>
</html>
