<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioProjectRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <% if flash[:error] %>
        <% flash[:error].each do |error| %>
          <div>
            <%= error %>
          </div>
        <% end %>
      <% end %>
    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% end %>
    <nav class="orange accent-2">
      <div class="container">
        <ul class="right">
          <li><%= link_to "Home", root_path %></li>

          <% unless logged_in? %>
            <li><%= link_to "Signup", signup_path %></li>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to 'Log in with Facebook!', '/auth/facebook' %></li>
          <% else %>
          <li><%= link_to "Orders", user_orders_path(current_user) %></li>
          <li><%= link_to "Create Order", new_user_order_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>
