<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioProjectRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="teal darken-4">
    <div class="container white", style="padding: 5px; margin-top 10px;">
          <%= yield %>
    </div>
  </body>
</html>
